body{
    background-color: #83A5FF;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.header{
    position: sticky;
    top: 0px;
    background-color: #83A5FF;
    text-align: center;
    color: white;
    border-bottom: 2px solid rgb(66, 111, 206);
    padding-bottom: 10px;
}

.tour{
    background-color: white;
    margin: auto;
    max-width: 80%;
    padding: 30px;
    margin-bottom: 20px;
}
.tourImage{
    max-width: 70vmin;
    margin-top: 20px;
}.timage{
    width: 100%;
    display: grid;
    place-items: center;
}
.tourName{
    color: red;
    font-size: 25px;
}.tourInfo{
    margin-top: 20px;
    font-weight: 500;
    max-width: 500px;
}

i{
    color: blue;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}


.deleteButton{
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}.deleteButton:hover{
    transform: scale(1.09);
    box-shadow: 0px 0px 7px rgb(65, 64, 64);
}

.refresh{
    padding: 10px;
    font-size: 25px;
    background-color: red;
    color: white;
    margin: auto;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.noTours{
    text-align: center;
    color: red;
}